# ---------------------------------------------------------------
# Azure credentials / service principal
# ---------------------------------------------------------------
azure_sub-id        = "<subscription_ID>"
azure_tenant-id     = "<tenant_ID>"
azure_client-id     = "<client_ID>"
azure_client-secret = "<client_secret>"

# ---------------------------------------------------------------
# Général
# ---------------------------------------------------------------
azure_region    = "France Central"
azure_tag-owner = "John DOE"
azure_tag-env   = "JDO"

# ---------------------------------------------------------------
# Resource Group / VNet / Subnets
# ---------------------------------------------------------------
azure_rg      = "JDO-rg"
azure_vnet    = "JDO-vnet"
azure_sub-ext = "JDO-sub-ext"
azure_sub-int = "JDO-sub-int"
azure_sub-adm = "JDO-sub-adm"
azure_sub-jmp = "JDO-sub-jmp"

# VNet : 10.2.0.0/16 (distinct du projet principal en 10.1.0.0/16)
azure_cidr-vnet    = "10.2.0.0/16"
azure_cidr-sub-ext = "10.2.10.0/24"
azure_cidr-sub-int = "10.2.20.0/24"
azure_cidr-sub-adm = "10.2.30.0/24"
azure_cidr-sub-jmp = "10.2.40.0/24"

# ---------------------------------------------------------------
# Credentials VMs
# ---------------------------------------------------------------
#azure_admin-username = "<username>"
#azure_ssh-username =  "<username>"
#both username have a default value in variables.tf
#azure_adminpassword  = "<your-admin-password>", it is recommanded to define it as environment variable

# ---------------------------------------------------------------
# SSH keys (generated by Terraform during execution)
# Files are created in the current folder
# ---------------------------------------------------------------
azure_ssh-key            = "JDO-ssh-key"
tls_ssh-key-path-private = "./jdo-key-ed25519"
tls_ssh-key-path-public  = "./jdo-key-ed25519.pub"

# ---------------------------------------------------------------
# NAT Gateway / public IPs / route
# ---------------------------------------------------------------
azure_natgw   = "JDO-natgw"
azure_pip-nat = "JDO-pip-nat"
azure_pip-jmp = "JDO-pip-jmp"
azure_route = "JDO-route"
azure_rt-sub-ext = "to-sub-ext"
azure_rt-sub-int = "to-sub-int"
azure_rt-sub-adm = "to-sub-adm"

# ---------------------------------------------------------------
# Network Interfaces
# ---------------------------------------------------------------
azure_nic-ext     = "JDO-nic-ext"
azure_nic-int     = "JDO-nic-int"
azure_nic-jmp     = "JDO-nic-jmp"
azure_nic-xc-ce01-slo = "JDO-nic-xc-ce01-slo"
azure_nic-xc-ce01-sli = "JDO-nic-xc-ce01-sli"
azure_nic-xc-ce02-slo = "JDO-nic-xc-ce02-slo"
azure_nic-xc-ce02-sli = "JDO-nic-xc-ce02-sli"

azure_nic-ext-ip     = "JDO-nic-ext"
azure_nic-int-ip     = "JDO-nic-int"
azure_nic-jmp-ip     = "JDO-nic-jmp"
azure_nic-xc-ce01-slo-ip = "JDO-xc-slo-ip"
azure_nic-xc-ce01-sli-ip = "JDO-xc-sli-ip"
azure_nic-xc-ce02-slo-ip = "JDO-xc-slo-ip"
azure_nic-xc-ce02-sli-ip = "JDO-xc-sli-ip"

nic-ext-ip-addr     = "10.1.10.5"
nic-int-ip-addr     = "10.1.20.5"
nic-jmp-ip-addr     = "10.1.40.5"
nic-xc-ce01-slo-ip-addr = "10.1.10.215"
nic-xc-ce01-sli-ip-addr = "10.1.20.215"
nic-xc-ce02-slo-ip-addr = "10.1.10.216"
nic-xc-ce02-sli-ip-addr = "10.1.20.216"

# ---------------------------------------------------------------
# Network Security Group
# ---------------------------------------------------------------
azure_nsg-jmp       = "JDO-nsg-jmp"
azure_nsg-allow-ssh = "JDO-nsg-allow-ssh"
azure_nsg-allow-rdp = "JDO-nsg-allow-rdp"

# Define the public IPs you awnt allow
allowed-pips = ["1.2.3.4", "5.6.7.8"]


# ---------------------------------------------------------------
# VMs
# ---------------------------------------------------------------
azure_vm-ext = "JDO-vm-ext"
azure_vm-int = "JDO-vm-int"
azure_vm-jmp = "JDO-vm-jmp"
azure_vm-xc-ce01 = "JDO-vm-xc-ce01"
azure_vm-xc-ce02 = "JDO-vm-xc-ce02"

# Azure VM size
# Standard_B2s (2 vCPU / 4 GB) for servers
# Standard_D2s_v3 (2 vCPU / 8 GB) for Jumphost
azure_vm-size-srv = "Standard_B2s"
azure_vm-size-jmp = "Standard_D2s_v3"
azure_vm-size-linux = "Standard_B2s"
azure_vm-size-xc-ce = "Standard_D8_v4"

# ---------------------------------------------------------------
# XC
# ---------------------------------------------------------------
f5xc_api-p12-file = "<p12-file-path>"
f5xc_namespace-name = "<namespace-name>"
f5xc_api-url = "https://<tenant-name>.console.ves.volterra.io/api"
f5xc_smsv2-site-name = "JDO-smsv2-site"
f5xc_smsv2-site-token = "JDO-smsv2-token"
f5xc_vsite-name = "JDO-vsite"
5xc_vsite-namespace = "shared"
f5xc_vsite-label-key = "JDO-label-vsite"

# set to false if the Known Label key/value already exist in the tenant
#f5xc_manage-labels = true