# ---------------------------------------------------------------
# Variables that needs to be configured
# those variables are duplicated, but commented to second time
# to match the organization of the file
# they are grouped here for quick and easy settings
# up to you to ignore this section and configure it in relevant section
# ---------------------------------------------------------------
azure_sub-id        = "<subscription_ID>"
azure_tenant-id     = "<tenant_ID>"
azure_client-id     = "<client_ID>"
azure_client-secret = "<client_secret>"
allowed-pips = ["1.2.3.4", "5.6.7.8"]
f5xc_api-p12-file = "<p12-file-path>"
f5xc_namespace-name = "<namespace-name>"
f5xc_api-url = "https://<tenant-name>.console.ves.volterra.io/api"

# ---------------------------------------------------------------
# Azure credentials / service principal
# ---------------------------------------------------------------
# azure_sub-id        = "<subscription_ID>"
# azure_tenant-id     = "<tenant_ID>"
# azure_client-id     = "<client_ID>"
# azure_client-secret = "<client_secret>"

# ---------------------------------------------------------------
# General
# ---------------------------------------------------------------
azure_region    = "France Central"
azure_tag-owner = "John DOE"
azure_tag-env   = "mylab"

# ---------------------------------------------------------------
# Resource Group / VNet / Subnets
# ---------------------------------------------------------------
azure_rg      = "mylab-rg"
azure_vnet    = "mylab-vnet"
azure_sub-ext = "mylab-sub-ext"
azure_sub-int = "mylab-sub-int"
azure_sub-adm = "mylab-sub-adm"
azure_sub-jmp = "mylab-sub-jmp"

# Subnet within VNet 10.1.0.0/16
azure_cidr-vnet    = "10.1.0.0/16"
azure_cidr-sub-ext = "10.1.10.0/24"
azure_cidr-sub-int = "10.1.20.0/24"
azure_cidr-sub-adm = "10.1.30.0/24"
azure_cidr-sub-jmp = "10.1.40.0/24"

# ---------------------------------------------------------------
# Credentials VMs
# ---------------------------------------------------------------
azure_admin-username = "lab"
azure_ssh-username =  "lab"
#azure_adminpassword  = "<your-admin-password>", it is recommanded to define it as environment variable

# ---------------------------------------------------------------
# SSH keys (generated by Terraform during execution)
# Files are created in the current folder
# ---------------------------------------------------------------
azure_ssh-key            = "mylab-ssh-key"
tls_ssh-key-path-private = "./mylab-key-ed25519"
tls_ssh-key-path-public  = "./mylab-key-ed25519.pub"

# ---------------------------------------------------------------
# NAT Gateway / public IPs / route
# ---------------------------------------------------------------
azure_natgw         = "mylab-natgw"
azure_pip-nat       = "mylab-pip-nat"
azure_pip-jmp       = "mylab-pip-jmp"
azure_route         = "mylab-route"
azure_rt-sub-ext    = "to-sub-ext"
azure_rt-sub-int    = "to-sub-int"
azure_rt-sub-adm    = "to-sub-adm"

# ---------------------------------------------------------------
# Network Interfaces
# ---------------------------------------------------------------
azure_nic-ext           = "mylab-nic-ext"
azure_nic-int           = "mylab-nic-int"
azure_nic-jmp           = "mylab-nic-jmp"
azure_nic-xc-ce01-slo   = "mylab-nic-xc-ce01-slo"
azure_nic-xc-ce01-sli   = "mylab-nic-xc-ce01-sli"
azure_nic-xc-ce02-slo   = "mylab-nic-xc-ce02-slo"
azure_nic-xc-ce02-sli   = "mylab-nic-xc-ce02-sli"

azure_nic-ext-ip            = "mylab-nic-ext"
azure_nic-int-ip            = "mylab-nic-int"
azure_nic-jmp-ip            = "mylab-nic-jmp"
azure_nic-xc-ce01-slo-ip    = "mylab-xc-slo-ip"
azure_nic-xc-ce01-sli-ip    = "mylab-xc-sli-ip"
azure_nic-xc-ce02-slo-ip    = "mylab-xc-slo-ip"
azure_nic-xc-ce02-sli-ip    = "mylab-xc-sli-ip"

nic-ext-ip-addr         = "10.1.10.5"
nic-int-ip-addr         = "10.1.20.5"
nic-jmp-ip-addr         = "10.1.40.5"
nic-xc-ce01-slo-ip-addr = "10.1.10.215"
nic-xc-ce01-sli-ip-addr = "10.1.20.215"
nic-xc-ce02-slo-ip-addr = "10.1.10.216"
nic-xc-ce02-sli-ip-addr = "10.1.20.216"

# ---------------------------------------------------------------
# Network Security Group
# ---------------------------------------------------------------
azure_nsg-jmp       = "mylab-nsg-jmp"
azure_nsg-allow-ssh = "mylab-nsg-allow-ssh"
azure_nsg-allow-rdp = "mylab-nsg-allow-rdp"

# Define the public IPs you want allow for Jumphost remote access
# allowed-pips = ["1.2.3.4", "5.6.7.8"]


# ---------------------------------------------------------------
# VMs
# ---------------------------------------------------------------
azure_vm-ext = "mylab-vm-ext"
azure_vm-int = "mylab-vm-int"
azure_vm-jmp = "mylab-vm-jmp"
azure_vm-xc-ce01 = "mylab-vm-xc-ce01"
azure_vm-xc-ce02 = "mylab-vm-xc-ce02"

# Azure VM size
azure_vm-size-srv = "Standard_B2s"
azure_vm-size-jmp = "Standard_D2s_v3"
azure_vm-size-linux = "Standard_B2s"
azure_vm-size-xc-ce = "Standard_D8_v4"

# ---------------------------------------------------------------
# XC
# ---------------------------------------------------------------
# f5xc_api-p12-file = "<p12-file-path>"
# f5xc_namespace-name = "<namespace-name>"
# f5xc_api-url = "https://<tenant-name>.console.ves.volterra.io/api"
f5xc_smsv2-site-name = "mylab-smsv2-site"
f5xc_smsv2-site-token = "mylab-smsv2-token"
f5xc_vsite-name = "mylab-vsite"
f5xc_vsite-namespace = "shared"
f5xc_vsite-label-key = "mylab-label-vsite"

# set to false if the Known Label key/value already exist in the tenant
f5xc_manage-labels = true
